<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dmitrymalkovich.android.stockhawk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.google.android.gcm.demo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.gcm.demo.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <service
            android:name=".StockTaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service android:name=".StockIntentService" />

        <provider
            android:name=".data.generated.QuoteProvider"
            android:authorities="com.dmitrymalkovich.android.stockhawk.data.QuoteProvider"
            android:exported="false" />

        <activity
            android:name=".StockListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StockDetailActivity"
            android:label="@string/title_stock_detail"
            android:parentActivityName=".StockListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dmitrymalkovich.android.stockhawk.StockListActivity" />
        </activity>
    </application>

</manifest>